<div class="dynamic-tokens-thresholds">
  {{#each thresholds}}
  <div class="threshold-row" data-index="{{@index}}">
    <div class="form-fields">
      <label>HP &le;</label>
      <input type="number" class="dt-threshold" value="{{this.threshold}}" min="0" max="100" step="1" placeholder="%" />
      <span>%</span>
      <input type="text" class="dt-img" value="{{this.img}}" placeholder="path/to/image.png" />
      <button type="button" class="dt-file-picker" title="Browse Files">
        <i class="fa-solid fa-file-import"></i>
      </button>
      <button type="button" class="dt-remove" title="Remove Threshold">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
  {{/each}}
</div>
<button type="button" class="dt-add-threshold">
  <i class="fa-solid fa-plus"></i> Add Threshold
</button>
